@{
	ViewData["Title"] = "PatientDashboard";
	Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>eNompilo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

	<link rel="shortcut icon" type="image/x-icon" href="~/sidemanu/assets/img/sidebar/mm_logo.ico">

	<link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<link rel="stylesheet" href="~/SideManu/assets/css/bootstrap.min.css">

	<link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/fontawesome.min.css">

	<link rel="stylesheet" href="~/SideManu/assets/css/fullcalendar.min.css">

	<link rel="stylesheet" href="~/SideManu/assets/css/dataTables.bootstrap4.min.css">

	<link rel="stylesheet" href="~/SideManu/assets/plugins/morris/morris.css">

	<script src="~/js/site.js"></script>

	<style>
		/* This is the CSS style for changing the color of the paragraph text to red */
		p {
			color: red;
		}
	</style>
	<link rel="stylesheet" href="~/SideManu/assets/css/style.css">
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>
<body>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
		body {
			background-color: khaki; /* Change this color to the desired background color */
			margin: 0; /* Reset margin to remove default spacing */
			padding: 0; /* Reset padding to remove default spacing */
		}
	</style>
	<meta charset="utf-8">
	<h1>Collection dates </h1>
	<p>You are not authorized to make changes to this table.</p>
	<table class="table table-hover table-lime">
		<thead>
			<tr>
				<th scope="col">PatientID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Collection date</th>
				<th scope="col">Previous collection</th>
				<th scope="col">Location</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">No data available yet</th>

			</tr>

		</tbody>
	</table>
</body>
</html>
